body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 60px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-size,
.color-picker {
    margin: 10px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 30px;
}

td {
    width: 30px;
}

input[type=number] {
    width: 6em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}